/* /////////////////////// General /////////////////////// */
*{
    box-sizing: border-box;
  }
body{
    font-size: 16px;
    background-color: black;
    font-family: "Noto Sans JP", "calibri", sans-serif;
    /*background-image: url("images/sigmund-t-da_md1qMc-unsplash\(lowersize\).jpg");
    background-repeat: no-repeat;
    background-size: cover;*/
    margin: 0;
}
ul{
    list-style: none;
}
p{
    font-family: "Noto Sans JP", "calibri", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu", "calibri", sans-serif;
  font-weight: 700;
}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }
p { font-size: 1em; }
.regular{
    font-weight: 400;
}
.bold{
    font-weight: bold;
}
.centeredText{
    text-align: center;
}
.regularIndent{
    margin-left: 30px;
}

/*#201c6f - blue*/
/*#f68d1f - orange light*/
/*#ef4323 - orange dark*/


/* /////////////////////// HEADER /////////////////////// */
header{
    width: 100%;
    background-color: black;
    position: fixed;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 80px 40px;
    justify-content: center;
    align-items: center;
    z-index:100;
}
.h1grid{
    grid-area: 1 / 1 / span 1 / span 1;
    margin-left: 1rem;
}
header h1{
    color: white;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: 0;
}
.navgrid{
    grid-area: 1 / 2 / span 1 / span 4;
}
header nav{
    background-color: black;
    display: flex;
    justify-content: center;
    grid-column: 3, span 4;
}
nav ul{
    margin: 0 auto;
    display: inline-flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 0;
}
nav ul li{
    margin-left: 20px;
    margin-right: 20px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    font-weight: normal;
    font-family: "Noto Sans JP", "calibri", sans-serif;
}
.listgrid{
    grid-area: 1 / 6 / span 1 / span 1;
    justify-self: end;
    margin-right: 2.5rem;
}
.listgrid a{
    text-decoration: none;
    color: white;
}
.buttongrid{
    grid-area: 2 / 3 / span 1 / span 2;
    justify-self: center;
    align-self: center;
}
.buttongrid button{
    width: 170px;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-align: center;
}
.buttongrid .leftbutton{
    background-color: #ef4323; /* dark orange */
    border-radius: 14.2px 0 0 14.2px;
}
.buttongrid .rightbutton{
    background-color: #201c6f; /* dark orange */
    border-radius: 0 14.2px 14.2px 0;
}

/* /////////////////////// MAIN /////////////////////// */
main{
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 25%); 
    grid-template-rows: 80px repeat(10, 100px);
}
main .background{
    grid-area: 2 / 1 / span 10 / span 4;
    z-index: -1;
    background-color: #616161;
    height: 1000px;
    background-image: url(images/fringer-cat-hddmXlPaFGo-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: brightness(0.75); */
}
.background button{
    z-index: 5;
}
