/* /////////////////////// General /////////////////////// */
*{
    box-sizing: border-box;
  }
body{
    font-size: 16px;
    background-color: black;
    font-family: "Noto Sans JP", "calibri", sans-serif;
    background-image: url("images/sigmund-t-da_md1qMc-unsplash\(lowersize\).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}
p{
    font-family: "Noto Sans JP", "calibri", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu", "calibri", sans-serif;
  font-weight: 700;
}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }
p { font-size: 1em; }
.regular{
    font-weight: 400;
}
.bold{
    font-weight: bold;
}
.centeredText{
    text-align: center;
}
.regularIndent{
    margin-left: 30px;
}

/*#201c6f - blue*/
/*#f68d1f - orange light*/
/*#ef4323 - orange dark*/


/* /////////////////////// HEADER /////////////////////// */
nav{
    background-color: #201c6f;
    display: flex;
    justify-content: center;
}
nav ul{
    list-style: none;
    margin: 0 auto;
    display: inline-flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
nav ul li{
    margin-left: 20px;
    margin-right: 20px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Noto Sans JP", "calibri", sans-serif;
    text-transform: uppercase;
}